    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Us</h2>
              <br/>
                <p>Our team at The Klone Factory is ready to catapult your business into an exciting era of 3D.
                The recent release of Apple Vision Pro is a call for all to brace themselves for the 3D content tsunami that will define the new internet landscape.
                We can help you thrive in this immersive and transformative digital realm. Get in touch to learn more!</p>
                <br/>
              </div>
        </div>
    </section>
